<%= form_with(model: jewel) do |form| %>
  <% if jewel.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(jewel.errors.count, "error") %> prohibited this jewel from being saved:</h2>

      <ul>
        <% jewel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, style: "display: block", class: "form-label" %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :version, style: "display: block", class: "form-label" %>
    <%= form.text_field :version, class: 'form-control' %>
    <div class="form-text">
      Most gems you will see, use semantic versioning. You will learn more on this topic in the course.
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :url, style: "display: block", class: "form-label" %>
      <%= form.text_field :url, class: 'form-control' %>
    <div class="form-text">
      Github link for more information on the gem.
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :description, style: "display: block", class: "form-label" %>
    <%= form.text_area :description, class: 'form-control' %>
    <div class="form-text">
      You find more information on Github.
    </div>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
