<div id="<%= dom_id jewel %>">
  <h2><%= jewel.name %></h2>

  <p>
    <strong>Version:</strong>
    <%= jewel.version %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= link_to "Github", jewel.url, target: :blank %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= jewel.description %>
  </p>

</div>
