<div id="<%= dom_id jewel %>">
  <p>
    <strong>Name:</strong>
    <%= jewel.name %>
  </p>

  <p>
    <strong>Version:</strong>
    <%= jewel.version %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= jewel.url %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= jewel.description %>
  </p>

</div>
