<!DOCTYPE html>
<html>
  <head>
    <title>Testanwendung</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="container mt-3">
    <% if current_user %>
      <%= button_to "Logout", destroy_session_path(current_user), method: :delete, data: {turbo: false}, class: "btn btn-secondary" %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
